{% extends 'songs/base.html' %}

{% block content %}
<div class="container">
	<div class="jumbotron">
		<a href="/"><h1>Tune<span class="text-success">z</span>out</h1></a>
		<p class="lead text-danger">Discover popular music.</p>
	</div>
	<div class="row">
		{% if messages %}
			{% for message in messages %}
			<div class="text-center alert {% if message.tags %}{{ message.tags }}{% endif %} alert-dismissable fade in col-md-4 col-md-offset-4">
				<button type="button" class="close" aria-hidden="true" data-dismiss="alert">&times;</button>
				{{ message }}
			</div>
			{% endfor %}
		{% endif %}
	</div>
	<div class="row">
		<div class="col-sm-3">
			<form action="{% url 'songs:submit' %}" method="post" role="form" class="well">
				{% csrf_token %}
				<fieldset>
					<legend>Add Song</legend>
					<div class="form-group">
						<label for="songInputTitle" class="sr-only">Title</label>
						<input type="text" name="title" placeholder="Title" id="songInputTitle" class="form-control" required>
					</div>
					<div class="form-group">
						<label for="songInputArtist" class="sr-only">Artist</label>
						<input type="text" name="artist" placeholder="Artist" id="songInputArtist" class="form-control" required>
					</div>
					<div class="form-group">
						<label for="songInputYear" class="sr-only">Year</label>
						<input type="number" name="year" placeholder="Year" min="0" id="songInputYear" class="form-control" required>
					</div>
					<div class="form-group">
						<label for="songInputGenre">Genre</label>
						<select name="genre" id="songInputGenre" class="form-control">
							{% for genre in genre_list %}
								{% if genre.name == 'Hip-Hop/Rap' %}
								<option value="{{ genre.id }}" selected>{{ genre.name }}</option>
								{% else %}
								<option value="{{ genre.id }}">{{ genre.name }}</option>
								{% endif %}
							{% endfor %}
						</select>
					</div>
					<button type="submit" title="Request Approval" data-toggle="tooltip" data-placement="right" data-container="body" onclick="mixpanel.track('Submit Song')" class="btn btn-success btn-lg btn-block hasTooltip">Submit</button>
				</fieldset>
			</form>
			<form role="form" class="well">
				<fieldset>
					<legend>Genres</legend>
					<button type="button" id="genre0" class="btn {% if not genre %} btn-danger {% else %} btn-default {% endif %} btn-large btn-block genre" onclick="switchGenre('0');mixpanel.track('Switch Genre', {'Genre Name': 'All'})">All&nbsp;<span class="glyphicon glyphicon-arrow-right"></span></button>
					{% for g in genre_list %}
					<button type="button" id="genre{{ g.id }}" class="btn {% if g == genre %} btn-danger {% else %} btn-default {% endif %} btn-large btn-block genre" onclick="switchGenre('{{ g.id }}');mixpanel.track('Switch Genre', {'Genre Name': '{{ g.name }}'})">{{ g.name }}&nbsp;<span class="glyphicon glyphicon-arrow-right"></span></button>
					{% endfor %}
				</fieldset>
			</form>
		</div>
		<div class="panel panel-default col-sm-9">
			{% include 'songs/songs.html' %}
		</div>
	</div>
	<hr>
	<div class="text-muted text-center">
		<p>&copy; 2013 Tunezout. All Rights Reserved.</p>
		<p>Developed by <a href="http://alykhan.com" target="_blank">Alykhan Kanji</a>.</p>
	</div>
	<br>
</div>
{% endblock content%}
