<table class="table table-condensed">
	{% if genre %}
		<caption>{{ genre.name }}</caption>
	{% else %}
		<caption>All</caption>
	{% endif %}
	<thead>
		<tr>
			<th>Rank</th>
			<th>Title</th>
			<th>Artist</th>
			<th>Year</th>
			{% if not genre %}
			<th>Genre</th>
			{% endif %}
			<th>Rating</th>
		</tr>
	</thead>
	<tbody>
		{% for song in song_list %}
			{% if song.approved %}
			<tr>
			<td>{{ forloop.counter }}</td>
			{% if song.title %}
				<td>{{ song.title }}</td>
			{% else %}
				<td>&ndash;</td>
			{% endif %}

			{% if song.artist %}
				<td>{{ song.artist }}</td>
			{% else %}
				<td>&ndash;</td>
			{% endif %}

			{% if song.year %}
				<td>{{ song.year|date:"Y" }}</td>
			{% else %}
				<td>&ndash;</td>
			{% endif %}

			{% if not genre %}
			<td>{{ song.genre }}</td>
			{% endif %}

			<td>
				<span class="badge badge-inverse">{{ song.score }}</span>
				&nbsp;
				<div class="btn-group">
					<a class="btn" href="{% url 'songs:rate' song.id 2 genre.id|default:"0" %}" {#onclick="rateSong({{ song.id }}, 2, {% if genre %}{{genre.id}}{% else %}0{% endif %})"#}>
						<span class="text-success">{{ song.up }}</span> <i class="icon-thumbs-up"></i>
					</a>
					<a class="btn" href="{% url 'songs:rate' song.id 1 genre.id|default:"0" %}" {#onclick="rateSong({{ song.id }}, 1, {% if genre %}{{genre.id}}{% else %}0{% endif %})"#}>
						<span class="text-error">{{ song.down }}</span> <i class="icon-thumbs-down"></i>
					</a>
				</div>
			</td>
			</tr>
			{% endif %}
		{% endfor %}
	</tbody>
</table>
