<table class="table table-hover">
	<br>
	{% if genre %}
		<caption>{{ genre.name }}</caption>
	{% else %}
		<caption>All</caption>
	{% endif %}
	<thead>
		<tr>
			<th>Rank</th>
			<th>Title</th>
			<th>Artist</th>
			<th>Year</th>
			{% if not genre %}
			<th>Genre</th>
			{% endif %}
			<th>Rating</th>
		</tr>
	</thead>
	<tbody>
		{% for song in song_list %}
			{% if song.approved %}
			<tr>
			<td>{{ forloop.counter }}</td>
			{% if song.title %}
				<td>{{ song.title }}</td>
			{% else %}
				<td>&ndash;</td>
			{% endif %}

			{% if song.artist %}
				<td>{{ song.artist }}</td>
			{% else %}
				<td>&ndash;</td>
			{% endif %}

			{% if song.year %}
				<td>{{ song.year|date:"Y" }}</td>
			{% else %}
				<td>&ndash;</td>
			{% endif %}

			{% if not genre %}
			<td>{{ song.genre }}</td>
			{% endif %}

			<td>
				<!-- <span class="badge">{{ song.score }}</span> -->
				<!-- &nbsp; -->
				<div class="btn-group">
					<button type="button" title="Like" data-toggle="tooltip" data-container="body" class="btn btn-default hasTooltip" onclick="$(this).tooltip('destroy');rateSong({{ song.id }}, 2, {{ genre.id|default:'0' }});">
						<span class="text-success">{{ song.up }}</span>&nbsp;<span class="glyphicon glyphicon-thumbs-up"></span>
					</button>
					<button type="button" title="Dislike" data-toggle="tooltip" data-container="body" class="btn btn-default hasTooltip" onclick="$(this).tooltip('destroy');rateSong({{ song.id }}, 1, {{ genre.id|default:'0' }});">
						<span class="text-danger">{{ song.down }}</span>&nbsp;<span class="glyphicon glyphicon-thumbs-down"></span>
					</button>
				</div>
			</td>
			</tr>
			{% endif %}
		{% endfor %}
	</tbody>
</table>
