@font-face {
    font-family: 'Bebas Neue';
    src: url('/static/fonts/Bebas Neue.eot');
    src: url('/static/fonts/Bebas Neue.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/Bebas Neue.woff') format('woff'),
         url('/static/fonts/Bebas Neue.ttf') format('truetype'),
         url('/static/fonts/Bebas Neue.svg#Bebas%20Neue') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
	font-family: 'Bebas Neue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	background-color: black;
}

.hero-unit {
	background-color: black;
	padding: 0 !important;
	margin: 0;
}

.hero-unit a {
	text-decoration: none;
}

.hero-unit h1 {
	font-size: 5em;
	color: white;
	font-weight: lighter;
	-webkit-transition: color .25s ease-in;
	-moz-transition: color .25s ease-in;
	transition: color .25s ease-in;
}

.hero-unit h1:hover {
	color: #468847;
}

.hero-unit p {
	font-size: 2.4em;
}

form {
	text-align: center;
}

input, select, .btn {
	font-family: 'Bebas Neue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

table caption {
	font-size: 3em;
}
