@font-face {
    font-family: 'Bebas Neue';
    src: url('/static/fonts/Bebas Neue.eot');
    src: url('/static/fonts/Bebas Neue.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/Bebas Neue.woff') format('woff'),
         url('/static/fonts/Bebas Neue.ttf') format('truetype'),
         url('/static/fonts/Bebas Neue.svg#Bebas%20Neue') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
	font-family: 'Bebas Neue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	background-color: black;
}

#title {
	color: white;
	text-transform: uppercase;
}

#slogan {
	color: #333;
}

.highlight {
	color: green;
}

.form {
	background-color: #aaa;
	color: white;
	text-transform: lowercase;
}

.form-title {
	text-align: center;
	text-transform: uppercase;
}

.table {
	background-color: white;
}
