body {
	/* font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; */
	background-color: black;
}

#title {
	color: white;
	text-transform: uppercase;
}

#slogan {
	color: #333;
}

.highlight {
	color: green;
}

.form {
	background-color: #aaa;
	color: white;
	text-transform: lowercase;
}

.form-title {
	text-align: center;
	text-transform: uppercase;
}

.table {
	background-color: white;
}
