<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="application-name" content="Tunezout">
	<meta name="viewport" content="initial-scale=1.0">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-title" content="Tunezout">
	<title>Tunezout</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" media="screen">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/css/bootstrap-responsive.min.css') }}">
	<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
	<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
	<link rel="icon" type="image/png" href="{{ url_for('static', filename='img/icon.png') }}">
	<link rel="apple-touch-icon-precomposed" type="image/png" href="{{ url_for('static', filename='img/icon.png') }}">
</head>
<body>
	<div class="container">
		<h1 id="title">Tune<span class="highlight">z</span>out</h1>
		<p id="slogan" class="lead">Insert Slogan Here</p>
		<br>
		<div class="row">
			<div class="span4 form">
				<h3 class="form-title">Insert</h3>
				<hr>
				<form>
					<fieldset>
						<input type="text" name="Song Title" placeholder="Song Title" class="input-medium"> <input type="text" name="Year" placeholder="Year" class="input-medium">
						<input type="text" name="Artist" placeholder="Artist" class="input-medium"> <input type="text" name="Genre" placeholder="Genre" class="input-medium">
						<button type="submit" class="btn btn-primary">Post Your Song&hellip;</button>
						<button class="btn">Cancel</button>
					</fieldset>
				</form>
				<h3 class="form-title">Choose Your Genre</h3>
				<hr>
				<a class="btn btn-primary btn-block">Hip Hop <i class="icon-arrow-right"></i></a>
				<br>
				<a class="btn btn-primary btn-block">Electronic <i class="icon-arrow-right"></i></a>
				<br>
				<a class="btn btn-primary btn-block">R&amp;B <i class="icon-arrow-right"></i></a>
			</div>
			<div class="span8">
				<table class="table">
					<thead>
						<tr>
							<th>Rank</th>
							<th>Title</th>
							<th>Artist</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>1</td>
							<td>The Motto</td>
							<td>Drake</td>
						</tr>
						<tr>
							<td>2</td>
							<td>Started from the Bottom</td>
							<td>Drake</td>
						</tr>
						<tr>
							<td>3</td>
							<td>Thrift Shop</td>
							<td>Macklemore</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>
</html>
