<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="application-name" content="Tunezout">
	<meta name="viewport" content="initial-scale=1.0">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-title" content="Tunezout">
	<title>Tunezout</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" media="screen">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/css/bootstrap-responsive.min.css') }}">
	<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
	<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
	<link rel="icon" type="image/png" href="{{ url_for('static', filename='img/icon.png') }}">
	<link rel="apple-touch-icon-precomposed" type="image/png" href="{{ url_for('static', filename='img/icon.png') }}">
</head>
<body>
	<div class="container">
		<div class="hero-unit row">
			<div class="span6">
				<br>
				<a href="/"><h1 id="title">Tune<span class="highlight">z</span>out</h1></a>
				<p class="lead muted">Insert Slogan Here</p>
			</div>
			<div class="span5">
				<img src="{{ url_for('static', filename='img/logo.jpg') }}">
			</div>
		</div>
		<div class="row">
			<div class="span3">
				<form class="well">
					<fieldset>
						<legend>Add a Song</legend>
						<input type="text" name="title" placeholder="Title" required class="input-block-level">
						<input type="text" name="artist" placeholder="Artist" required class="input-block-level">
						<input type="number" name="year" placeholder="Year" min="0" required class="input-block-level">
						<label>Genre</label>
						<select name="genre" class="input-block-level">
							{% for genre in genres %}
								{% if genre.name == 'Hip-Hop/Rap' %}
								<option selected>{{ genre.name }}</option>
								{% else %}
								<option>{{ genre.name }}</option>
								{% endif %}
							{% endfor %}
						</select>
						<button type="submit" formaction="submit" class="btn btn-inverse btn-large btn-block">Post Your Song&hellip;</button>
					</fieldset>
				</form>
				<form class="well">
					<fieldset>
						<legend>Genres</legend>
						<a class="btn btn-inverse btn-large btn-block" href="/?genre=0">All <i class="icon-arrow-right icon-white"></i></a>
						{% for genre in genres %}
						<a class="btn btn-inverse btn-large btn-block" href="/?genre={{ genre.id }}">{{ genre.name }} <i class="icon-arrow-right icon-white"></i></a>
						{% endfor %}
					</fieldset>
				</form>
			</div>
			<div class="well span8">
				<table class="table">
					{% if genre %}
						<caption>{{ genre.name }}</caption>
					{% else %}
						<caption>All</caption>
					{% endif %}
					<thead>
						<tr>
							<th>Rank</th>
							<th>Title</th>
							<th>Artist</th>
							<th>Year</th>
							<th>Genre</th>
							<th>Rating</th>
						</tr>
					</thead>
					<tbody>
						{% for song in songs %}
						<tr>
							<td>{{ loop.index }}</td>
							<td>{{ song.title }}</td>
							<td>{{ song.artist }}</td>
							{% if song.year %}
								<td>{{ song.year }}</td>
							{% else %}
								<td>&ndash;</td>
							{% endif %}
							<td>{{ song.genre.name }}</td>
							<td>
								<span class="badge badge-inverse">{{ song.score }}</span>
								&nbsp;
								<div class="btn-group">
									<a class="btn" onclick="rate({{ song.id }}, 2)">
										<span class="text-success">{{ song.up }}</span> <i class="icon-thumbs-up"></i>
									</a>
									<a class="btn" onclick="rate({{ song.id }}, 1)">
										<span class="text-error">{{ song.down }}</span> <i class="icon-thumbs-down"></i>
									</a>
								</div>
							</td>
						</tr>
						{% endfor %}
					</tbody>
					<!-- <script>updateSongs();</script> -->
				</table>
			</div>
		</div>
		<hr>
		<div class="muted text-center">
			&copy; 2013 Adil Dharshi &amp; <a href="http://alykhan.com" target="_blank">Alykhan Kanji</a>. All Rights Reserved.
		</div>
		<br>
	</div>
</body>
</html>
